In [1]:
import pandas as pd
import numpy as n
import datetime

In [35]:
wea = pd.read_csv('yearly_data.csv')
wea['lst_apr'] = (wea['lst_apr_day_mean_mean']+ wea['lst_apr_night_mean_mean'])/2
wea['lst_jan'] = (wea['lst_jan_day_mean_mean']+ wea['lst_jan_night_mean_mean'])/2
wea['lst_mar'] = (wea['lst_mar_day_mean_mean']+ wea['lst_mar_night_mean_mean'])/2
wea['lst_feb'] = (wea['lst_feb_day_mean_mean']+ wea['lst_feb_night_mean_mean'])/2
wea['lst_5_mean'] = (wea['lst_day_5_mean']+ wea['lst_night_5_mean'])/2
wea[['lst_jan','lst_feb','lst_mar','lst_apr','lst_5_mean','acc_rainfall_2week_5_mean','year']]

,lst_jan,lst_feb,lst_mar,lst_apr,lst_5_mean,acc_rainfall_2week_5_mean,year
0,4.662680,6.575598,11.258085,16.670345,21.935027,49.291946,2011
1,2.038237,5.626005,14.083781,18.301035,21.561357,100.473651,2012
2,4.870302,7.822472,10.932238,19.579391,24.945862,17.990502,2013
3,7.758848,9.825876,13.937263,15.314078,24.377070,28.348629,2014
4,3.740977,5.721325,9.918019,16.377964,24.810142,27.280773,2015
5,5.413430,9.952063,12.604949,19.303748,22.072242,85.153690,2016
6,1.119923,8.269160,13.946960,17.339746,22.968301,50.208374,2017
7,5.580311,7.351606,12.698640,19.626003,23.495160,56.983827,2018
8,2.184167,8.344476,14.848766,16.916689,21.629471,39.800789,2019
9,4.116296,8.688857,12.571392,16.842101,21.415366,23.921309,2020
10,4.472516,9.353914,11.385548,15.757303,22.389922,23.471598,2021
11,4.261493,8.316539,9.106623,17.562664,22.194333,19.217794,2022
12,7.419872,6.459289,11.878767,14.998695,17.918081,25.527874,2023

In [33]:
wea.columns

Index(['year', 'lst_day_5_mean', 'lst_night_5_mean', 'ndwi_mean_5_mean',
       'ndvi_mean_5_mean', 'ndmi_mean_5_mean', 'ndbi_mean_5_mean',
       'acc_rainfall_1week_5_mean', 'acc_rainfall_2week_5_mean',
       'acc_rainfall_jan_5_mean', 'summer_days_year_5_mean',
       'summer_days_month_5_mean', 'lst_day_5_std', 'lst_night_5_std',
       'ndwi_mean_5_std', 'ndvi_mean_5_std', 'ndmi_mean_5_std',
       'ndbi_mean_5_std', 'acc_rainfall_1week_5_std',
       'acc_rainfall_2week_5_std', 'acc_rainfall_jan_5_std',
       'summer_days_year_5_std', 'summer_days_month_5_std',
       'lst_jan_day_mean_mean', 'lst_feb_day_mean_mean',
       'lst_mar_day_mean_mean', 'lst_apr_day_mean_mean',
       'lst_jan_night_mean_mean', 'lst_feb_night_mean_mean',
       'lst_mar_night_mean_mean', 'lst_apr_night_mean_mean',
       'lst_jan_day_mean_std', 'lst_feb_day_mean_std', 'lst_mar_day_mean_std',
       'lst_apr_day_mean_std', 'lst_jan_night_mean_std',
       'lst_feb_night_mean_std', 'lst_mar_night_mean_std',
       'lst_apr_night_mean_std', 'lst_apr', 'lst_jan', 'lst_mar', 'lst_feb',
       'lst_5_mean'],
      dtype='object')

In [2]:
greece = pd.read_csv('greece_CM.csv')
greece['dt_placement'] = pd.to_datetime(greece['dt_placement'], format="%Y-%m-%d")
greece['dt_placement_original'] = greece['dt_placement']  + datetime.timedelta(days=15)

In [3]:
pred_greece = pd.read_csv('total_greece_CM_culex.csv')
pred_greece['dt_placement'] = pd.to_datetime(pred_greece['dt_placement'], format="%Y-%m-%d")
pred_greece['dt_prediction'] = pd.to_datetime(pred_greece['dt_prediction'], format="%Y-%m-%d")

In [4]:
greece_dict_crete = {0:0, 1:1, 2:2, 3:3 , 4:4.5, 5:9.5 , 6:20, 7:30.5, 8:42.5, 9:132}
greece_dict_cm = {0:2, 1:9, 2:20, 3:37 , 4:64, 5:109.5 , 6:185, 7:313, 8:567.5, 9:5599.5}
pred_greece['mosquitoes'] = pred_greece['predictions'].map(greece_dict_cm)

In [5]:
greece_mosq = greece[['dt_placement_original','mosq_now']]
greece_mosq = greece_mosq.groupby(greece.dt_placement_original).mean().reset_index()
greece_mosq = greece_mosq.groupby(greece_mosq.dt_placement_original.dt.to_period('m')).mean().reset_index()
greece_mosq

C:\Users\irots\AppData\Local\Temp\ipykernel_11280\3601136746.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  greece_mosq = greece_mosq.groupby(greece.dt_placement_original).mean().reset_index()
C:\Users\irots\AppData\Local\Temp\ipykernel_11280\3601136746.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  greece_mosq = greece_mosq.groupby(greece_mosq.dt_placement_original.dt.to_period('m')).mean().reset_index()

   dt_placement_original    mosq_now
0                2011-04   28.509259
1                2011-05   78.237585
2                2011-06  398.468080
3                2011-07  524.501778
4                2011-08  394.779298
..                   ...         ...
63               2022-07  289.896983
64               2022-08  346.881250
65               2023-04   32.714286
66               2023-05   50.676422
67               2023-06         NaN

[68 rows x 2 columns]

In [6]:
greece_mosq = greece[['dt_placement_original','mosq_now']]
greece_mosq = greece_mosq.groupby(greece.dt_placement_original).mean().reset_index()
greece_mosq = greece_mosq.groupby(greece_mosq.dt_placement_original.dt.year).mean().reset_index()
greece_mosq.sort_values(by=['mosq_now']).reset_index(drop=True)

C:\Users\irots\AppData\Local\Temp\ipykernel_11280\4248134179.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  greece_mosq = greece_mosq.groupby(greece.dt_placement_original).mean().reset_index()
C:\Users\irots\AppData\Local\Temp\ipykernel_11280\4248134179.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  greece_mosq = greece_mosq.groupby(greece_mosq.dt_placement_original.dt.year).mean().reset_index()

    dt_placement_original    mosq_now
0                    2023   47.083995
1                    2021  132.908220
2                    2018  136.285832
3                    2019  154.271301
4                    2022  211.917204
5                    2020  217.850991
6                    2017  263.420649
7                    2016  286.631649
8                    2011  316.042632
9                    2015  327.168636
10                   2014  416.720810
11                   2012  436.168334
12                   2013  513.722530

In [7]:
pred_greece_monlty = pred_greece.groupby(pred_greece.dt_prediction).mean().reset_index()[['dt_prediction','predictions','mosquitoes']]
pred_greece_monlty = pred_greece_monlty.groupby(pred_greece_monlty.dt_prediction.dt.to_period('m')).mean().reset_index()
pred_greece_monlty

C:\Users\irots\AppData\Local\Temp\ipykernel_11280\308517782.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  pred_greece_monlty = pred_greece.groupby(pred_greece.dt_prediction).mean().reset_index()[['dt_prediction','predictions','mosquitoes']]
C:\Users\irots\AppData\Local\Temp\ipykernel_11280\308517782.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  pred_greece_monlty = pred_greece_monlty.groupby(pred_greece_monlty.dt_prediction.dt.to_period('m')).mean().reset_index()

   dt_prediction  predictions  mosquitoes
0        2020-05     2.971849   47.339093
1        2020-06     4.316697  110.923323
2        2020-07     4.964923  192.423926
3        2020-08     4.392081  139.450355
4        2020-09     3.887818   94.366514
5        2021-05     2.333476   38.946373
6        2021-06     3.926674   96.489354
7        2021-07     4.261291  114.832823
8        2021-08     3.780397   95.142942
9        2021-09     3.050314   59.796130
10       2022-04     1.162202   11.874107
11       2022-05     2.644439   44.363935
12       2022-06     4.019484   99.766042
13       2022-07     4.753910  153.161684
14       2022-08     4.259196  119.260327
15       2023-05     3.639757   68.883833
16       2023-06     2.932015   47.434023

In [8]:
pred_greece2 = pred_greece[pred_greece['entomological_features']==True]
pred_greece_monlty2 = pred_greece2.groupby(pred_greece2.dt_prediction).mean().reset_index()[['dt_prediction','predictions','mosquitoes']]
pred_greece_monlty2 = pred_greece_monlty2.groupby(pred_greece_monlty2.dt_prediction.dt.to_period('m')).mean().reset_index()
pred_greece_monlty2

C:\Users\irots\AppData\Local\Temp\ipykernel_11280\4089804035.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  pred_greece_monlty2 = pred_greece2.groupby(pred_greece2.dt_prediction).mean().reset_index()[['dt_prediction','predictions','mosquitoes']]
C:\Users\irots\AppData\Local\Temp\ipykernel_11280\4089804035.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  pred_greece_monlty2 = pred_greece_monlty2.groupby(pred_greece_monlty2.dt_prediction.dt.to_period('m')).mean().reset_index()

   dt_prediction  predictions  mosquitoes
0        2020-05     3.750000   57.250000
1        2020-06     4.316697  110.923323
2        2020-07     5.166414  213.402131
3        2020-08     4.593679  153.903386
4        2020-09     3.859175   96.881457
5        2021-06     3.990304  100.393274
6        2021-07     4.238665  114.668631
7        2021-08     3.703529   92.214370
8        2021-09     2.982543   57.453043
9        2022-05     3.344048   62.011071
10       2022-06     4.009279   99.441588
11       2022-07     4.737847  158.151223
12       2022-08     4.446553  130.579790
13       2023-06     4.460000  103.970000

In [9]:
greece.columns

Index(['x', 'y', 'dt_placement', 'ndvi', 'ndwi', 'ndmi', 'ndbi', 'ndvi_mean',
       'ndvi_std', 'ndwi_mean', 'ndwi_std', 'ndmi_mean', 'ndmi_std',
       'ndbi_mean', 'ndbi_std', 'lst_day', 'lst_night', 'acc_rainfall_1week',
       'acc_rainfall_2week', 'acc_rainfall_jan', 'lst_jan_day_mean',
       'lst_feb_day_mean', 'lst_mar_day_mean', 'lst_apr_day_mean',
       'lst_jan_night_mean', 'lst_feb_night_mean', 'lst_mar_night_mean',
       'lst_apr_night_mean', 'DISTANCE_TO_COAST', 'DISTANCE_TO_RIVER',
       'SLOPE_mean_1km', 'ASPECT_mean_200m', 'ELEVATION_mean_1km',
       'HILLSHADE_mean_1km', 'FS_AREA_1km', 'FLOW_ACCU_200m', 'landcover',
       'distance', 'vert_distance', 'days_distance', 'mo_sin', 'mo_cos', 'lst',
       'summer_days_year', 'summer_days_month', 'mosq_sum_month',
       'mosq_sum_month_previous_year', 'mosq_sum_year',
       'mosq_sum_previous_2weeks', 'previous_mosq_measure', 'mosq_now',
       'mosq_bins', 'dt_placement_original'],
      dtype='object')

In [10]:
greece_daily = greece.groupby(greece.dt_placement).mean().reset_index()
# greece_cond_daily = greece_daily[['dt_placement','ndvi', 'ndwi', 'ndmi', 'ndbi', 'ndvi_mean',
#                                   'ndvi_std', 'ndwi_mean', 'ndwi_std', 'ndmi_mean', 'ndmi_std',
#                                   'ndbi_mean', 'ndbi_std', 'lst_day', 'lst_night',
#                                   'acc_rainfall_1week', 'acc_rainfall_2week', 'acc_rainfall_jan' ]]
# greece_cond_montly = greece_daily[['dt_placement', 'lst_jan_day_mean',
#                              'lst_feb_day_mean', 'lst_mar_day_mean', 'lst_apr_day_mean',
#                              'lst_jan_night_mean', 'lst_feb_night_mean', 'lst_mar_night_mean',
#                              'lst_apr_night_mean']]
greece_cond_daily = greece_daily[['dt_placement', 'lst_day', 'lst_night', 'ndwi_mean', 'ndvi_mean', 'ndmi_mean', 'ndbi_mean',
                                  'acc_rainfall_1week', 'acc_rainfall_2week', 'acc_rainfall_jan', 'summer_days_year', 'summer_days_month' ]]
greece_cond_montly = greece_daily[['dt_placement', 'lst_jan_day_mean', 
                             'lst_feb_day_mean', 'lst_mar_day_mean', 'lst_apr_day_mean',
                             'lst_jan_night_mean', 'lst_feb_night_mean', 'lst_mar_night_mean',
                             'lst_apr_night_mean']]

C:\Users\irots\AppData\Local\Temp\ipykernel_11280\1110454901.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  greece_daily = greece.groupby(greece.dt_placement).mean().reset_index()

In [11]:
greece_cond_montly_agg_mean = greece_cond_montly.groupby(greece_cond_montly.dt_placement.dt.year).mean().reset_index()
greece_cond_montly_agg_mean = greece_cond_montly_agg_mean.rename(columns={'dt_placement':'year'})
greece_cond_montly_agg_mean.columns = ['year'] + [e+'_mean' for e in greece_cond_montly_agg_mean.columns[1:]]

greece_cond_montly_agg_std = greece_cond_montly.groupby(greece_cond_montly.dt_placement.dt.year).std().reset_index()
greece_cond_montly_agg_std = greece_cond_montly_agg_std.rename(columns={'dt_placement':'year'})
greece_cond_montly_agg_std.columns = ['year'] + [e+'_std' for e in greece_cond_montly_agg_std.columns[1:]]

C:\Users\irots\AppData\Local\Temp\ipykernel_11280\412091891.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  greece_cond_montly_agg_mean = greece_cond_montly.groupby(greece_cond_montly.dt_placement.dt.year).mean().reset_index()
C:\Users\irots\AppData\Local\Temp\ipykernel_11280\412091891.py:5: FutureWarning: The default value of numeric_only in DataFrameGroupBy.std is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  greece_cond_montly_agg_std = greece_cond_montly.groupby(greece_cond_montly.dt_placement.dt.year).std().reset_index()

In [12]:
greece_cond_daily_agg_mean = greece_cond_daily.groupby(greece_cond_daily.dt_placement.dt.to_period('m')).mean().reset_index()
greece_cond_daily_agg_std = greece_cond_daily.groupby(greece_cond_daily.dt_placement.dt.to_period('m')).std().reset_index()

C:\Users\irots\AppData\Local\Temp\ipykernel_11280\4139915272.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  greece_cond_daily_agg_mean = greece_cond_daily.groupby(greece_cond_daily.dt_placement.dt.to_period('m')).mean().reset_index()
C:\Users\irots\AppData\Local\Temp\ipykernel_11280\4139915272.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.std is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  greece_cond_daily_agg_std = greece_cond_daily.groupby(greece_cond_daily.dt_placement.dt.to_period('m')).std().reset_index()

In [13]:
years = greece_cond_daily_agg_mean.dt_placement.dt.year.unique()
months = greece_cond_daily_agg_mean.dt_placement.dt.month.unique()
df_mean=pd.DataFrame()
for i in years:
    x = greece_cond_daily_agg_mean[greece_cond_daily_agg_mean['dt_placement'].dt.year==i].reset_index(drop=True)
    row=pd.DataFrame()
    for j in range(len(x)):
        row_month = pd.DataFrame(x.iloc[j,1:]).T
        row_month.columns = [e +'_'+str(x.loc[j,'dt_placement'].month)+'_mean' for e in x.columns[1:]]
        row = pd.concat([row, row_month],axis=1)
    row['year'] = i
    row = row.groupby(row.year).mean().reset_index()
    df_mean = pd.concat([df_mean,row],axis=0).reset_index(drop=True)
df_mean = pd.concat([df_mean, greece_cond_montly_agg_mean],axis=1)

In [14]:
years = greece_cond_daily_agg_std.dt_placement.dt.year.unique()
months = greece_cond_daily_agg_std.dt_placement.dt.month.unique()
df_std=pd.DataFrame()
for i in years:
    x = greece_cond_daily_agg_std[greece_cond_daily_agg_std['dt_placement'].dt.year==i].reset_index(drop=True)
    row=pd.DataFrame()
    for j in range(len(x)):
        row_month = pd.DataFrame(x.iloc[j,1:]).T
        row_month.columns = [e +'_'+str(x.loc[j,'dt_placement'].month)+'_std' for e in x.columns[1:]]
        row = pd.concat([row, row_month],axis=1)
    row['year'] = i
    row = row.groupby(row.year).mean().reset_index()
    df_std = pd.concat([df_std,row],axis=0).reset_index(drop=True)
df_std = pd.concat([df_std, greece_cond_montly_agg_std],axis=1)

In [15]:
df = pd.concat([df_mean, df_std.iloc[:,1:]],axis=1)

In [16]:
df.columns

Index(['year', 'lst_day_3_mean', 'lst_night_3_mean', 'ndwi_mean_3_mean',
       'ndvi_mean_3_mean', 'ndmi_mean_3_mean', 'ndbi_mean_3_mean',
       'acc_rainfall_1week_3_mean', 'acc_rainfall_2week_3_mean',
       'acc_rainfall_jan_3_mean',
       ...
       'summer_days_month_10_std', 'year', 'lst_jan_day_mean_std',
       'lst_feb_day_mean_std', 'lst_mar_day_mean_std', 'lst_apr_day_mean_std',
       'lst_jan_night_mean_std', 'lst_feb_night_mean_std',
       'lst_mar_night_mean_std', 'lst_apr_night_mean_std'],
      dtype='object', length=195)

In [17]:
month =['lst_jan_day_mean', 'lst_feb_day_mean', 'lst_mar_day_mean', 'lst_apr_day_mean',
        'lst_jan_night_mean', 'lst_feb_night_mean', 'lst_mar_night_mean', 'lst_apr_night_mean']
df2 = df[['year']+[s for s in df.columns if "_5" in s]+ [s+'_mean' for s in month] + [s+'_std' for s in month]]
df2 = df2.iloc[:,2:]
df2

,year,lst_day_5_mean,lst_night_5_mean,ndwi_mean_5_mean,ndvi_mean_5_mean,ndmi_mean_5_mean,ndbi_mean_5_mean,acc_rainfall_1week_5_mean,acc_rainfall_2week_5_mean,acc_rainfall_jan_5_mean,...,lst_mar_night_mean_mean,lst_apr_night_mean_mean,lst_jan_day_mean_std,lst_feb_day_mean_std,lst_mar_day_mean_std,lst_apr_day_mean_std,lst_jan_night_mean_std,lst_feb_night_mean_std,lst_mar_night_mean_std,lst_apr_night_mean_std
0,2011,30.620327,13.249727,-0.216268,0.319505,0.097506,-0.097506,27.148688,49.291946,327.489809,...,3.820363,8.289586,0.433464,0.498890,0.840008,1.746102,0.834794,0.836686,0.398095,0.289405
1,2012,29.275701,13.847012,-0.231557,0.343509,0.104688,-0.104688,57.329757,100.473651,468.013869,...,5.370096,9.607059,0.658509,1.816841,1.077179,1.396568,0.953011,0.630338,0.364397,0.335601
2,2013,33.543293,16.348431,-0.237603,0.335283,0.097763,-0.097763,7.138488,17.990502,632.288606,...,5.755058,11.663615,0.442586,1.100837,1.012150,1.729377,1.408254,1.381164,0.657755,0.384114
3,2014,32.794925,15.959215,-0.286147,0.382666,0.096579,-0.096579,16.547072,28.348629,628.022209,...,7.613278,8.454917,0.853214,0.845565,1.344962,1.362732,1.451081,1.082273,0.428311,0.771220
4,2015,33.117142,16.503142,-0.267978,0.401174,0.133378,-0.133378,10.431155,27.280773,679.836891,...,4.027713,9.037981,1.092501,0.499972,1.182548,1.617220,1.752253,1.462607,0.967265,0.491254
5,2016,30.279186,13.865297,-0.326512,0.348309,0.067471,-0.067471,40.089452,85.153690,634.849132,...,6.722538,10.990962,1.435769,1.524945,0.953701,2.199268,1.554921,1.694431,0.633851,0.482800
6,2017,30.997432,14.939169,-0.156134,0.158049,0.265581,-0.265581,30.270552,50.208374,387.538629,...,6.580676,8.377410,0.960107,1.039802,1.318653,1.996974,1.482169,1.028726,0.552317,0.788945
7,2018,30.530857,16.459463,-0.286424,0.318468,0.082998,-0.082998,27.736876,56.983827,504.200991,...,6.307871,12.018049,0.520730,0.643729,0.806015,1.778311,1.208724,1.115071,0.749532,0.617128
8,2019,30.204432,13.054510,-0.285518,0.307436,0.079475,-0.079475,19.836976,39.800789,426.482844,...,6.884176,9.948345,0.941425,0.939557,1.691855,1.539896,1.529503,0.944676,0.602129,0.763661
9,2020,29.000567,13.830166,-0.288869,0.308412,0.080134,-0.080134,14.042365,23.921309,493.832487,...,6.062575,8.530857,0.735393,0.845092,1.309460,1.484894,1.409239,0.872898,0.664253,0.337165
10,2021,30.283824,14.496020,-0.290023,0.305584,0.050924,-0.050924,10.252386,23.471598,563.868103,...,4.139131,7.454908,0.849435,0.876468,1.656071,1.676473,1.518298,1.017481,0.986910,0.860654
11,2022,30.494753,13.893914,-0.305473,0.331087,0.098215,-0.098215,11.024088,19.217794,405.996921,...,2.209383,9.648772,0.805928,0.792125,0.814949,1.749573,1.203335,1.005175,0.893675,0.942648
12,2023,25.186749,10.649412,-0.357135,0.406780,0.134560,-0.134560,13.611409,25.527874,126.851557,...,5.845382,9.109544,0.540289,0.727665,0.964156,1.157396,0.909209,1.084264,0.840375,1.073661

In [18]:
df[['year']+[s for s in df.columns if "_6" in s]].to_csv('June.csv',index=False)

In [19]:
greece

,x,y,dt_placement,ndvi,ndwi,ndmi,ndbi,ndvi_mean,ndvi_std,ndwi_mean,...,summer_days_year,summer_days_month,mosq_sum_month,mosq_sum_month_previous_year,mosq_sum_year,mosq_sum_previous_2weeks,previous_mosq_measure,mosq_now,mosq_bins,dt_placement_original
0,21.715938,40.833181,2023-05-03,0.327305,-0.394850,-0.107493,0.107493,0.329770,0.019013,-0.381741,...,0,0,112.063048,0.000000,0.0,118.505567,NaN,NaN,NaN,2023-05-18
1,21.715938,40.833181,2023-06-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0.000000,0.000000,0.0,56.204957,NaN,NaN,NaN,2023-06-21
2,21.715938,40.851148,2023-05-03,0.509039,-0.466708,0.106512,-0.106512,0.490326,0.101246,-0.451342,...,0,0,127.485596,0.000000,0.0,117.407576,NaN,NaN,NaN,2023-05-18
3,21.715938,40.851148,2023-06-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0.000000,0.000000,0.0,49.579064,NaN,NaN,NaN,2023-06-21
4,21.715938,40.869115,2023-05-03,0.559529,-0.460784,0.236087,-0.236087,0.520776,0.072164,-0.452685,...,0,0,113.751292,0.000000,0.0,103.485940,NaN,NaN,NaN,2023-05-18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18916,24.386079,40.186381,2023-06-06,-0.197232,0.434836,0.562290,-0.562290,-0.176013,0.035313,0.415956,...,0,0,0.000000,0.000000,0.0,12.889279,NaN,NaN,NaN,2023-06-21
18917,24.409501,40.132480,2023-05-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,114.180527,80.917902,0.0,104.620952,NaN,NaN,NaN,2023-05-18
18918,24.409501,40.132480,2023-06-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0.000000,76.823945,0.0,23.706877,NaN,NaN,NaN,2023-06-21
18919,24.409501,40.150447,2023-05-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,117.177410,92.528100,0.0,105.784896,NaN,NaN,NaN,2023-05-18
18920,24.409501,40.150447,2023-06-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0.000000,86.028721,0.0,22.793679,NaN,NaN,NaN,2023-06-21

In [20]:
df2.to_csv('yearly_data.csv',index=False)

In [21]:
df2 = df2.dropna().reset_index(drop=True)
df2

,year,lst_day_5_mean,lst_night_5_mean,ndwi_mean_5_mean,ndvi_mean_5_mean,ndmi_mean_5_mean,ndbi_mean_5_mean,acc_rainfall_1week_5_mean,acc_rainfall_2week_5_mean,acc_rainfall_jan_5_mean,...,lst_mar_night_mean_mean,lst_apr_night_mean_mean,lst_jan_day_mean_std,lst_feb_day_mean_std,lst_mar_day_mean_std,lst_apr_day_mean_std,lst_jan_night_mean_std,lst_feb_night_mean_std,lst_mar_night_mean_std,lst_apr_night_mean_std
0,2011,30.620327,13.249727,-0.216268,0.319505,0.097506,-0.097506,27.148688,49.291946,327.489809,...,3.820363,8.289586,0.433464,0.498890,0.840008,1.746102,0.834794,0.836686,0.398095,0.289405
1,2012,29.275701,13.847012,-0.231557,0.343509,0.104688,-0.104688,57.329757,100.473651,468.013869,...,5.370096,9.607059,0.658509,1.816841,1.077179,1.396568,0.953011,0.630338,0.364397,0.335601
2,2013,33.543293,16.348431,-0.237603,0.335283,0.097763,-0.097763,7.138488,17.990502,632.288606,...,5.755058,11.663615,0.442586,1.100837,1.012150,1.729377,1.408254,1.381164,0.657755,0.384114
3,2014,32.794925,15.959215,-0.286147,0.382666,0.096579,-0.096579,16.547072,28.348629,628.022209,...,7.613278,8.454917,0.853214,0.845565,1.344962,1.362732,1.451081,1.082273,0.428311,0.771220
4,2015,33.117142,16.503142,-0.267978,0.401174,0.133378,-0.133378,10.431155,27.280773,679.836891,...,4.027713,9.037981,1.092501,0.499972,1.182548,1.617220,1.752253,1.462607,0.967265,0.491254
5,2016,30.279186,13.865297,-0.326512,0.348309,0.067471,-0.067471,40.089452,85.153690,634.849132,...,6.722538,10.990962,1.435769,1.524945,0.953701,2.199268,1.554921,1.694431,0.633851,0.482800
6,2017,30.997432,14.939169,-0.156134,0.158049,0.265581,-0.265581,30.270552,50.208374,387.538629,...,6.580676,8.377410,0.960107,1.039802,1.318653,1.996974,1.482169,1.028726,0.552317,0.788945
7,2018,30.530857,16.459463,-0.286424,0.318468,0.082998,-0.082998,27.736876,56.983827,504.200991,...,6.307871,12.018049,0.520730,0.643729,0.806015,1.778311,1.208724,1.115071,0.749532,0.617128
8,2019,30.204432,13.054510,-0.285518,0.307436,0.079475,-0.079475,19.836976,39.800789,426.482844,...,6.884176,9.948345,0.941425,0.939557,1.691855,1.539896,1.529503,0.944676,0.602129,0.763661
9,2020,29.000567,13.830166,-0.288869,0.308412,0.080134,-0.080134,14.042365,23.921309,493.832487,...,6.062575,8.530857,0.735393,0.845092,1.309460,1.484894,1.409239,0.872898,0.664253,0.337165
10,2021,30.283824,14.496020,-0.290023,0.305584,0.050924,-0.050924,10.252386,23.471598,563.868103,...,4.139131,7.454908,0.849435,0.876468,1.656071,1.676473,1.518298,1.017481,0.986910,0.860654
11,2022,30.494753,13.893914,-0.305473,0.331087,0.098215,-0.098215,11.024088,19.217794,405.996921,...,2.209383,9.648772,0.805928,0.792125,0.814949,1.749573,1.203335,1.005175,0.893675,0.942648
12,2023,25.186749,10.649412,-0.357135,0.406780,0.134560,-0.134560,13.611409,25.527874,126.851557,...,5.845382,9.109544,0.540289,0.727665,0.964156,1.157396,0.909209,1.084264,0.840375,1.073661

In [22]:
from sklearn.metrics.pairwise import cosine_similarity, euclidean_distances
import numpy as np
cosine_similarity(np.array(df2.iloc[-1,1:]).reshape(1, -1), np.array(df2.iloc[:,1:]))

array([[0.97985187, 0.9731601 , 0.94710423, 0.95400286, 0.94642484,
        0.96746658, 0.97669233, 0.96959478, 0.96843989, 0.95843824,
        0.95311663, 0.94625933, 1.        ]])

In [23]:
euclidean_distances(np.array(df2.iloc[-1,1:]).reshape(1, -1), np.array(df2.iloc[:,1:]))

array([[2.06141721e+02, 3.62360408e+02, 5.06539923e+02, 5.04253354e+02,
        5.53690749e+02, 5.16386956e+02, 2.67207634e+02, 3.82260859e+02,
        3.01059654e+02, 3.71455301e+02, 4.37782669e+02, 3.00240466e+02,
        2.69739830e-06]])

In [21]:
df2.to_csv('yearly_data.csv',index=False)